@model CustomerRegisterViewModel
@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form With Html & Css</title>
    <link rel="stylesheet" href="./style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        body {
            background: linear-gradient(135deg, #FF8C00, #9b59b6);
        }

        form {
            width: 30%;
            margin: 60px auto;
            background: #efefef;
            padding: 60px 120px 80px 120px;
            text-align: center;
            -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
            box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
        }


        label {
            display: block;
            position: relative;
            margin: 40px 0px;
        }

        .label-txt {
            position: absolute;
            top: -1.6em;
            padding: 10px;
            font-family: sans-serif;
            font-size: .8em;
            letter-spacing: 1px;
            color: rgb(120,120,120);
            transition: ease .3s;
        }


        .input {
            width: 100%;
            padding: 10px;
            background: transparent;
            border: none;
            outline: none;
        }

        .line-box {
            position: relative;
            width: 100%;
            height: 1px;
            background: #BCBCBC;
        }

        .line {
            position: absolute;
            width: 0%;
            height: 2px;
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            background: darkorange;
            transition: ease .6s;
        }

        .input:focus + .line-box .line {
            width: 100%;
        }

        .label-active {
            top: -3em;
        }

        button {
            display: inline-block;
            padding: 12px 24px;
            background: rgb(220,220,220);
            font-weight: bold;
            color: rgb(120,120,120);
            border: none;
            outline: none;
            border-radius: 3px;
            cursor: pointer;
            transition: ease .3s;
        }

            button:hover {
                background: linear-gradient(135deg, #FF8C00, #9b59b6);
                color: #ffffff;
            }

           .text-danger{
               	color:red;
                font-size:13px;
                font-weight:500;
           }
    </style>
</head>
<body>
    <div>
        <form asp-action="Register" asp-controller="Account" method="post">
            <h4 class="text-warning text-center pt-5">REGISTER</h4>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div>
                <input asp-for="Name" class="input" placeholder="ENTER FULL NAME" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </div>
            <br>
            <div>
                <input asp-for="UserName" class="input" placeholder="ENTER USERNAME" />
                <span asp-validation-for="UserName" class="text-danger"></span>
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </div>
            <br>
            <div>
                <input asp-for="Email" class="input" placeholder="ENTER EMAIL" />
                <span asp-validation-for="Email" class="text-danger"></span>
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </div>
            <br>

            <div>
                <input asp-for="Password" class="input" placeholder="ENTER PASSWORD" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </div>
            <br>
            <div>
                <input asp-for="ConfirmPassword" class="input" placeholder="CONFIRM PASSWORD" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </div>
            <br>
            <div>
                <input asp-for="Country" class="input" placeholder="ENTER COUNTRY" />
                <span asp-validation-for="Country" class="text-danger"></span>
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </div>
            <br>
            <div>
                <input asp-for="City" class="input" placeholder="ENTER CITY" />
                <span asp-validation-for="City" class="text-danger"></span>
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </div>
            <br>
            <div>
                <input asp-for="Street" class="input" placeholder="ENTER STREET" />
                <span asp-validation-for="Street" class="text-danger"></span>
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </div>
            <br>
            <div>
                <input asp-for="PostalCode" class="input" placeholder="ENTER POSTALCODE" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
                <div class="line-box">
                    <div class="line"></div>
                </div>
            </div>
            <br>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
@section Scripts {
    @{
        await Html.PartialAsync("_ValidationScriptsPartial");
    }
}
